.projects-container {
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/layered-peaks.svg');
    background-position: top 80% center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4rem;
    background-color: #F6F6F8;
}

.bg-dark {
    --bs-bg-opacity: 0;
}

.projects-container h3 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.SubProject {
    color: white;
    padding-bottom: 4rem;
}

.card {
    border-color: none !important;
    box-shadow: 0 2px 0 rgb(54 45 89 / 15%);
    border: none !important;
}

.card:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    box-shadow: 0 2px 0 rgb(54 45 89 / 15%),
        -0.1875rem -0.1875rem 0 0.1875rem #f2b712,
        0 0 0 0.375rem #e1567c !important;
    /*  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important; */
    transition: all 0.3s linear;
}

.card-body {
    padding: 2rem !important;
    min-height: 280px;
    background-color: white;
    border-radius: 0px 0px 5px 5px !important;
}

.card-text,
.card-title {
    color: #07003A !important;
}

.card-text {
    padding: 0.3rem 0rem;
    font-size: 1rem;
    text-align: left;

}

/* .overflow {
    overflow: hidden;
}
 */
.card-img-top {
    border-radius: 5px 5px 0px 0px;
    object-fit: scale-down;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

/* .card-img-top:hover {
    transform: scale(1.05);
    border-radius: 5px;
}
 */
.col-md-4 {
    padding: 10px;
    border-radius: 0px;
}

.card a {
    /* background-image: linear-gradient(60deg, #833ab4, #E21143);
    background-clip: text; */
    color: #E1567C;
    font-weight: 500;
    bottom: 25px;
    left: 20px;
    position: absolute;
    border-radius: 2rem;
    background: #F6F6F8 !important;
    transition: box-shadow .3s;
    will-change: box-shadow;

}

.card a:hover {
    /* background-image: linear-gradient(60deg, #08a7ad, #3272dd);
    background-clip: text; */
    color: black;
}

#id1,
#id6 {
    --idColor: #c15b87;
}

#id2,
#id4 {
    --idColor: #bddfd4;
}

#id3,
#id5 {
    --idColor: #E2E7FD;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {

    .card-text {
        padding: 0.3rem 0rem;
        font-size: 10px;
        text-align: left;
    }

    .card-title {
        font-size: 20px;
        font-weight: 450;
    }
}

@media screen and (max-width: 390px) {
    .card-text {
        font-size: 15px;
        text-align: center;
    }
}