#contactTitle {

    color: white;
}

#contactSubTitle {
    
    color-scheme: white;
}

.contact {
    background-color: #08023B;
    /*     background-image: url('../../assets/img/polygonContact.svg');
    background-position: top 100% center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: rgb(240, 249, 252);
    background: linear-gradient(0deg, rgba(240, 249, 252, 1) 0%, rgba(96, 86, 184, 1) 50%, rgba(63, 54, 137, 1) 73%, rgba(8, 2, 59, 1) 100%);
    z-index: -1;
}

.contact_container {
    display: flex;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.contact_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: white;
}

.contact_info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}


.contact_card {
    background-color: white;
    padding: 1rem;
    border-radius: 0.15rem;
    text-align: center;
    border: 0px solid black;
    border-bottom: transparent;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}

.contact_card-icon {
    font-size: 2rem;
    color: #08023B;
    margin-bottom: 0.25rem;
}

.contact_card-title,
.contact_card-data {
    font-size: 12px;
}

.contact_card-title {
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.contact_card-data {
    display: block;
    margin-bottom: 0.75rem;
}


.contact_button {
    font-size: 12px;
    background-image: linear-gradient(60deg, #833ab4, #E21143);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact_button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.contact_button-icon:hover .contact_button-icon {
    transform: translate(0.25rem);
}

.contact_form {
    display: block;
    width: 400px;
}

.contact_form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid rgb(255, 255, 255);
    border-bottom: transparent;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    background: white;
    outline: none;
    border-radius: 0.15rem;
    padding: 1rem;
    z-index: 1;
    font-size: 0.85rem;
}

.contact_form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: 15px;
    padding: 0.25rem;
    background-color: #e5ebf2;
    z-index: 10;
}

.contact_form-area {
    height: 11rem;
}

.contact_form-area textarea {
    resize: none;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .contact_container {
        column-gap: 3rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .contact_container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact_info {
        justify-content: center;
    }

    .contact_form {
        margin: 0 auto;
    }

    .send {
        position: relative;
        left: 250px;
    }
}

@media screen and (max-width: 576px) {
    .contact_info {
        grid-template-columns: 1fr;
    }

    .contact_form {
        width: 100%;
    }

    .send {
        left: 150px;
    }

}

/* For small devices */
@media screen and (max-width: 350px) {}